body {
  background-color: #1E3B5A !important;
}

.top-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Nib Pro' !important;
}

.search-line {
    height: 20px;
    border-left: 1px solid #FFFFFF;
}

.search-bar {
  border: none;
  outline: none;
  background-color: transparent;
  color: #FFFFFF;
}

.search-bar::placeholder {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
}

/*text clr size */

.primary-text{
  font-family: 'DM Sans' !important;
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
}

.secondary-text{
  font-family: 'Nib Pro' !important;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}

.bg-seceondary{
  font-family: 'Nib Pro' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 40px !important;
  color: #FFFFFF !important;
}

.text-clr{
  font-family: 'Nib Pro' !important;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #1E3B5A !important;
}

.text-clr-2{
  color: #FFFFFF !important;
  font-size: 12px;
  font-weight: 300;
}

.secendory-bg{
  font-family: 'DM Sans' !important;
  font-weight: 400;
  font-size: 16px;
  color: #1E3B5A !important;
  opacity: 0.75 !important;
}

.primary-bg{
  font-family: 'DM Sans' !important;
  font-weight: 400;
  font-size: 18px;
  color: #1E3B5A !important;
  opacity: 0.75 !important;
}

/* card section*/

.card{
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.card-header{
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  background: #247FA4 !important;
  font-family: 'Nib Pro' !important;
}

.switch-txt{
  font-family: 'Nib Pro' !important;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #1E3B5A !important;
  opacity: 0.75 !important;
  cursor: pointer;
}

.off-switch {
  display: none;
  cursor: pointer;
}

.inputs input[type=text] {
  border-radius: 100px;
  background-color: #FFFFFF;
  padding: 13px;
  border: 1px solid rgb(202, 198, 198);
}

.inputs input:focus {
  border: 1px solid #247FA4 !important;
  box-shadow: none !important;
}


.inputs ::placeholder{
  font-weight: 400;
  font-size: 18px;
  color: #1E3B5A !important;
  opacity: 0.5 !important;
  padding: 1.6rem;
}

.textarea{
  display: flex;
  align-items: flex-start !important;
  height: 8rem;
  border: 1px solid rgba(30, 59, 90, 0.25);
  border-radius: 16px;
  width: 100%;
}

.notes ::placeholder{
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 18px;
  color: #1E3B5A !important;
  opacity: 0.5 !important;
  padding-left: 2rem;
  padding-top: 0.5rem;
}

.textarea:focus {
  outline: none !important;
  border-color: #247FA4 !important;
}

.textarea::placeholder {
  padding-left: 2rem !important;
}



.form-check-label{
  color: #1E3B5A !important;
  opacity: 0.75 !important;
}

.form-check-input:checked {
  border: 4px solid #247FA4 !important;
  background-color: #FFFFFF !important;
}

.form-check-inputs{
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
}

/* btn section */

.btn{
  background: rgba(30, 59, 90, 0.1) !important;
  border-radius: 100px !important;
  color: #1E3B5A !important;
  opacity: 0.75 !important;
  width: fit-content;
  padding: 8px 24px !important;
}

.btn:hover {
  background: #247FA4 !important;
  color: #FFFFFF !important; 
}

.btn-2{
  font-family: 'Nib Pro';
  font-weight: 700;
  font-size: 24px;
  background: #4E8246 !important;
  border-radius: 100px !important;
  color: #FFFFFF !important;
  width: fit-content;
  padding: 10px 40px !important;
  border: none;
}

.btn-3 {
  background: rgba(30, 59, 90, 0.1) !important;
  border-radius: 100px !important;
  color: #1E3B5A !important;
  opacity: 0.75 !important;
  width: fit-content;
  padding: 8px 24px !important;
  border: none;
}

.btn-3.active {
  background: #247FA4 !important;
  color: #FFFFFF !important; 
}

.btn-3.active .ticks-check {
  display: none;
}

.btn-3.active .on-btn {
  display: block;
}

.ticks-check {
  display: block;
}

.on-btn {
  display: none;
}

.off-switch {
  display: none;
}



/* btn section end*/

.item-container {
  display: flex;
  align-items: center;
  line-height: 0;
}

.item-container p {
  margin: 0;
}




.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 100px;
}

.dropdown-toggle::after{
  display: none !important;
}

a {
  text-decoration: none !important;
}

.birth-dropdown {
  color: #1E3B5A !important;
  opacity: 0.5 !important;
  padding-left: 1.6rem;
  padding-top: 10px;
}

.filter-dropdown{
  transform: translate(2px , 54px) !important;
  width: 100%;
  border-radius: 18px !important;
  border: none !important;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 120px;
}

@media (max-width: 600px) {
  .card{
    width: fit-content;
  }
  .card-header{
    width: fit-content;
  }
}

/* date picker section*/

.birth-svg {
  background-image: url("/public/birth.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
  cursor: pointer;
}

.ui-datepicker-header {
  color: #1E3B5A !important;
  background-color: #FFFFFF !important;
  font-family: 'DM Sans' !important;
  border: none !important;
}

.ui-datepicker {
  background-color: #FFFFFF !important;
  font-family: Arial, sans-serif;
  width: 19.5rem !important;
}
.ui-datepicker th{
  color: #1E3B5A !important;
}

.ui-datepicker td a {
  color: #1E3B5A !important;
  background-color: #FFFFFF !important;
  border: none !important;
}

.ui-widget-content{
  transform: translate(6px , 10px) !important;
  border-radius: 18px !important;
  border: none !important;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);;
}
